[submodule "src-tauri"]
	path = src-tauri
	url = git@github.com:RobocopMao/r-markdown-client.git
[submodule "src/extension"]
	path = src/extension
	url = git@github.com:RobocopMao/r-markdown-extension.git
[submodule "src/views-private"]
	path = src/views-private
	url = git@github.com:RobocopMao/r-markdown-views.git
